<!-- <style>
    .column {
        float: left;
        width: 50%;
        align-items: center;
        /* margin-left: 300px;
        margin-right: -300px; */
    }

    .row::after {
        content: "";
        display: table;
        clear: both;
    }

</style> -->
<div class="row justify-content-evenly">
    <div class="col-4 justify-content-center">
        <button class="btn btn-primary btn-lg btn-block" (click)="clickEventOne()">Profile</button>
    </div>
    <div class="col-4 justify-content-center">
        <button class="btn btn-primary btn-lg btn-block" (click)="clickEventTwo()">List of Patient Diagnosis</button>       
    </div>
</div>

<div class="content" style="text-align: center;">
    <div *ngIf="list1">
        <h1>Welcome {{ user.first_name}} {{ user.last }}</h1>
            <p>Username: {{ user.username }}</p>
            <p>Job Title: {{ user.title }}</p>
            <p>Email: {{ user.email }}</p>
    </div>
    <div *ngIf="list2">
        <h1>Forms for Verification</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Complaint</th>
                        <th>Symptoms</th>
                        <th>Medical History</th>
                        <th>Family History</th>
                        <th>Allergies</th>
                        <th>Current Medication</th>
                        <th>Date</th>
                        <th>Weight</th>
                        <th>Height</th>
                        <th>Temperature</th>
                        <th>Blood Pressure High Value</th>
                        <th>Blood Pressure Low Value</th>
                        <th>Pulse</th>
                        <th>Verification</th>
                        <th>Doctor Diagnosis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="click(patientForm)" href="#updateDiagnosisModal" data-bs-toggle="modal" *ngFor="let patientForm of activeD">
                        <th scope="row">{{patientForm.id}}</th>
                        <td>{{patientForm.fname}}</td>  
                        <td>{{patientForm.lname}}</td>
                        <td>{{patientForm.patient_age}}</td>
                        <td>{{patientForm.complaint}}</td>
                        <td>{{patientForm.symptoms}}</td>
                        <td>{{patientForm.med_history}}</td>
                        <td>{{patientForm.fam_history}}</td>
                        <td>{{patientForm.allergies}}</td>
                        <td>{{patientForm.current_meds}}</td>
                        <td>{{patientForm.current_date}}</td>
                        <td>{{patientForm.patient_weight}}</td>
                        <td>{{patientForm.patient_height}}</td>
                        <td>{{patientForm.patient_temp}}</td>
                        <td>{{patientForm.blood_pressure_high}}</td>
                        <td>{{patientForm.blood_pressure_low}}</td>
                        <td>{{patientForm.pulse}}</td>
                        <td>{{patientForm.doctor_verification}}</td>
                        <td>{{patientForm.diagnosis_text}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="list3">
        <div class="row">
            <div class="column">
                <app-diagnosis></app-diagnosis>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
 <div class="modal fade" id="updateDiagnosisModal" tabindex="-1" role="dialog" aria-labelledby="diagnosisEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateDiagnosisModalLabel">Patient {{editDiagnosis?.fname}} {{editDiagnosis?.lname}}'s Diagnosis</h5>
             <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <input type="hidden" ngModel="{{editDiagnosis?.id}}" name="id" class="form-control" id="id" placeholder="Diagnosis ID">
                <input type="hidden" ngModel="{{editDiagnosis?.fname}}" name="first_name" class="form-control" id="first_name" placeholder="First name">
                <input type="hidden" ngModel="{{editDiagnosis?.lname}}" name="last_name" class="form-control" id="last_name" placeholder="Last name">
                <input type="hidden" ngModel="{{editDiagnosis?.patient_age}}" name="age" class="form-control" id="age" placeholder="Age">

                <div class="form-group">
                   <label for="name">Complaint</label>
                   <input type="text" ngModel="{{editDiagnosis?.complaint}}" name="patient_complaint" class="form-control" id="patient_complaint" placeholder="Complaint">
                </div>
                
                <div class="form-group">
                    <label for="name">Symtoms</label>
                    <input type="text" ngModel="{{editDiagnosis?.symptoms}}" name="patient_symptoms" class="form-control" id="patient_symptoms" placeholder="Symptoms">
                </div>

                <input type="hidden" ngModel="{{editDiagnosis?.med_history}}" name="medical_history" class="form-control" id="medical_history" placeholder="Medical History">
                <input type="hidden" ngModel="{{editDiagnosis?.fam_history}}" name="family_history" class="form-control" id="family_history" placeholder="Family History">
                <input type="hidden" ngModel="{{editDiagnosis?.allergies}}" name="patient_allergies" class="form-control" id="patient_allergies" placeholder="Allergies">
                <input type="hidden" ngModel="{{editDiagnosis?.current_meds}}" name="current_medical" class="form-control" id="current_medical" placeholder="Age">

                <input type="hidden" ngModel="{{editDiagnosis?.patient_weight}}" name="weight" class="form-control" id="weight" placeholder="Weight">
                <input type="hidden" ngModel="{{editDiagnosis?.patient_height}}" name="height" class="form-control" id="height" placeholder="Height">
                <input type="hidden" ngModel="{{editDiagnosis?.patient_temp}}" name="temp" class="form-control" id="temp" placeholder="Temp">
                <input type="hidden" ngModel="{{editDiagnosis?.blood_pressure_low}}" name="low" class="form-control" id="low" placeholder="blood_pressure_low">
                <input type="hidden" ngModel="{{editDiagnosis?.blood_pressure_high}}" name="high" class="form-control" id="high" placeholder="blood_pressure_high">
                <input type="hidden" ngModel="{{editDiagnosis?.pulse}}" name="patient_pulse" class="form-control" id="patient_pulse" placeholder="Pulse">

                <div class="form-group">
                    <label for="name">Diagnosis</label>
                    <input type="text" ngModel="{{editDiagnosis?.diagnosis_text}}" name="diagnosis" class="form-control" id="diagnosis" placeholder="Diagnosis">
                </div>

                <input type="hidden" ngModel="{{editDiagnosis?.covid_id}}" name="covidId" class="form-control" id="covidId" placeholder="Covid ID">
                <input type="hidden" ngModel="{{editDiagnosis?.nurse_id}}" name="nurseId" class="form-control" id="nurseId" placeholder="Nurse ID">
                <input type="hidden" ngModel="{{editDiagnosis?.doctor_id}}" name="doctorId" class="form-control" id="doctorId" placeholder="Covid ID">
                <input type="hidden" ngModel="{{editDiagnosis?.doctor_verification}}" name="verification" class="form-control" id="verification" placeholder="Covid ID">

                <div class="modal-footer">
                   <button type="button" id="" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateDiagnosis(editForm)" data-bs-dismiss="modal" class="btn btn-primary" >Save</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>


</div>