<div class="card-body ">
   <form class="covid-Form" (ngSubmit)="onSubmit(covidForm)" #covidForm="ngForm">
     <h1 style="text-align: center;">Covid Form</h1>
              <label for="floatingInput">Username<span style="color:#ff0000">*</span></label>
              <input type="text" class="covidStatus" id="covidStatus" name="covidStatus" placeholder="select" ngModel>
             <br>
           <button class="w-100 btn btn-lg btn-primary" type="submit">Submit Form</button>
         <br>
   </form>
</div>    
    