<!-- <button (click)="openForm()">show form</button> -->
<div class="card-body" id="formPage" >
   <form class="covid-Form" (ngSubmit)="onSubmit(covidForm)" #covidForm="ngForm">
     <h1 style="text-align: center;">Covid Form</h1>
        <label>Covid Contamination: 
        <select >
              <option type="text" class="covidStatus" id="covidStatus" name="covidStatus">Select Option</option>
              <option type="text" class="covidStatus" id="Exposed" name="Exposed" value="exposed" ngModel>I was Exposed to</option>
              <option type="text" class="covidStatus" id="Had" name="Had" value="had" ngModel>I Had</option>
              <option type="text" class="covidStatus" id="Have" name="Have" value="have" ngModel>I Have</option>
            </select> Covid-19</label>
              <br>
              <div class="vaccine">
              <label>Checkmark the box if you have been fully vaccinated:
            <input type="checkbox" value="true" ngModel></label>
        </div>
           <button class="w-100 btn btn-lg btn-primary" type="submit">Submit Form</button>
         <br>
   </form>
</div>    
    