<!-- <app-doctor-form></app-doctor-form>
<app-old-active-case></app-old-active-case>
<app-diagnosis></app-diagnosis>
<app-doctors></app-doctors> -->
<app-nurses></app-nurses> 
<!-- * * * * * * * * * * Header * * * * * * * * * * * -->
<app-header></app-header>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- * * * * * * * * * * * The content * * * * * * * * * * * -->
<router-outlet></router-outlet>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- * * * * * * * * * * Footer * * * * * * * * * * * -->
<app-footer></app-footer>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

