.card-body{
    display: none;
    position: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 400px;
    box-shadow: rgba(3, 3, 3, 0.24);
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 9;
    color: rgb(0, 0, 0);
    border-radius: 8px;
}

.vaccine{
    padding-top: 10px; 
    padding-bottom: 10px; 
}

.container{
    filter:blur();
}