<header class="sticky-md-top">
  	<nav class="text-white navbar navbar-expand-lg bg-orange ps-xl-5 pe-xl-5">
      	<div class="container-fluid">
          	<a class="navbar-brand" routerLink="/home">
				        RevCare
				<body></body>
          	</a>
          	<button class="bg-white navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-menu-button-wide text-orange"></i>
              </button>
      	</div>

      	<div class="float-xxl-end">
          	<div class="px-4 collapse navbar-collapse d-lg-inline-flex me-3" id="navbarScroll">
              	<ul class="my-2 navbar-nav me-auto my-lg-0 text-primary">
                  	<li class="nav-item">
                      	<a class="text-center nav-link text-uppercase" routerLink="/home" routerLinkActive="active">Home</a>
                  	</li>

                  	<li class="nav-item">
                        <a class="text-center nav-link text-uppercase" routerLink="/register" routerLinkActive="active">Register</a>
                    </li>

                  	<li class="nav-item">
                    	<a class="text-center nav-link text-uppercase" routerLink="/login" routerLinkActive="active" >Login</a>
                  	</li>

              	</ul>

         	</div>
      	</div>
  	</nav>
</header>
